.topbarContainer {
  height: 60px;
}

.topbarLink {
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
}
.topbarLeft {
  flex: 1;
}
.topbarCenter {
  flex: 2;
}
.topbarRight {
  flex: 1;
}
.topbarIconItem {
  display: flex;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}
.topbarIconBadge {
  width: 15px;
  height: 15px;
  font-size: 12px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
